In [2]:
import os
import pandas
from wq_gps_match import timestamp_match

In [3]:
# set wd to Arcproject-wq-processing folder
wd = os.path.abspath(os.path.join(os.path.dirname(os.path.dirname("__file__"))))

# example shp
shp = os.path.join(wd, "wq_gps_match", "examples", "Arc_040413_GPS", "040413_PosnPnt.shp")

# example water quality
wq_file = os.path.join(wd, "wq_gps_match", "examples", "Arc_040413_WQ", "Arc_040413_wqt_cc.csv")

print(shp)
print(wq_file)

C:\Users\Andy\Documents\arcproject-wq-processing\wq_gps_match\examples\Arc_040413_GPS\040413_PosnPnt.shp
C:\Users\Andy\Documents\arcproject-wq-processing\wq_gps_match\examples\Arc_040413_WQ\Arc_040413_wqt_cc.csv

Import CSV file from the MiniSonde as Pandas Dataframe

In [4]:
water_quality = timestamp_match.wq_from_csv(wq_file)
print(water_quality)

              Date_Time   Temp    pH SpCond   Sal DEP25  PAR RPAR TurbSC  \
1   2013-04-04 13:01:03  17.40  7.84    520  0.26  0.39  573  417   13.4
2   2013-04-04 13:01:04  17.40  7.84    520  0.26  0.35  573  417   13.4
3   2013-04-04 13:01:05  17.40  7.88    520  0.26  0.35  576  419   13.5
4   2013-04-04 13:01:06  17.41  7.85    521  0.26  0.39  576  417   13.5
5   2013-04-04 13:01:07  17.41  7.85    521  0.26  0.39  576  417   13.5
6   2013-04-04 13:01:08  17.40  7.84    521  0.26  0.37  576  415   13.4
7   2013-04-04 13:01:09  17.40  7.84    521  0.26  0.37  576  415   13.4
8   2013-04-04 13:01:10  17.39  7.83    520  0.26  0.35  573  412   13.4
9   2013-04-04 13:01:11  17.39  7.83    520  0.26  0.35  573  412   13.4
10  2013-04-04 13:01:12  17.38  7.83    521  0.26  0.38  569  407   13.4
11  2013-04-04 13:01:13  17.39  7.83    521  0.26  0.38  569  407   13.4
12  2013-04-04 13:01:14  17.39  7.84    521  0.26  0.38  566  408   13.4
13  2013-04-04 13:01:15  17.40  7.84    520  0.26  0.35  566  407   13.4
14  2013-04-04 13:01:16  17.40  7.84    520  0.26  0.35  566  407   13.4
15  2013-04-04 13:01:17  17.41  7.84    520  0.26  0.38  567  406   13.4
16  2013-04-04 13:01:18  17.41  7.84    520  0.26  0.38  567  406   13.4
17  2013-04-04 13:01:19  17.42  7.85    520  0.26  0.32  570  406   13.4
18  2013-04-04 13:01:20  17.42  7.85    520  0.26  0.32  570  406   13.4
19  2013-04-04 13:01:21  17.42  7.85    520  0.26  0.34  573  405   13.4
20  2013-04-04 13:01:22  17.42  7.85    520  0.26  0.34  573  405   13.4
21  2013-04-04 13:01:23  17.43  7.86    520  0.26  0.34  572  405   13.4
22  2013-04-04 13:01:24  17.43  7.86    520  0.26  0.34  572  405   13.4
23  2013-04-04 13:01:25  17.43  7.87    520  0.26  0.27  575  403   13.5
24  2013-04-04 13:01:26  17.43  7.87    520  0.26  0.27  575  403   13.5
25  2013-04-04 13:01:27  17.43  7.87    520  0.26  0.34  574  400   13.5
26  2013-04-04 13:01:28  17.43  7.87    520  0.26  0.33  574  400   13.5
27  2013-04-04 13:01:29  17.43  7.86    520  0.26  0.33  578  402   13.5
28  2013-04-04 13:01:30  17.43  7.86    520  0.26  0.34  579  401   13.5
29  2013-04-04 13:01:31  17.43  7.86    520  0.26  0.34  579  401   13.5
30  2013-04-04 13:01:32  17.43  7.87    520  0.26  0.30  578  399   13.5
..                  ...    ...   ...    ...   ...   ...  ...  ...    ...
948 2013-04-04 13:16:53  17.52  8.29    490  0.25  0.34  329  269   13.0
949 2013-04-04 13:16:54  17.53  8.30    490  0.25  0.31  333  272   13.0
950 2013-04-04 13:16:55  17.53  8.30    490  0.25  0.31  333  272   13.0
951 2013-04-04 13:16:56  17.53  8.30    490  0.25  0.31  337  274   13.0
952 2013-04-04 13:16:57  17.53  8.30    490  0.25  0.31  341  278   13.0
953 2013-04-04 13:16:58  17.53  8.30    490  0.25  0.31  341  278   13.0
954 2013-04-04 13:16:59  17.53  8.30    490  0.25  0.35  345  281   13.0
955 2013-04-04 13:17:00  17.53  8.30    490  0.25  0.35  345  281   13.0
956 2013-04-04 13:17:01  17.54  8.29    490  0.25  0.32  349  282   13.0
957 2013-04-04 13:17:02  17.54  8.29    490  0.25  0.32  349  282   13.0
958 2013-04-04 13:17:03  17.52  8.29    489  0.25  0.32  349  282   13.0
959 2013-04-04 13:17:04  17.52  8.29    489  0.25  0.32  351  282   13.0
960 2013-04-04 13:17:05  17.52  8.29    489  0.25  0.34  354  282   13.0
961 2013-04-04 13:17:06  17.52  8.29    489  0.25  0.34  354  282   13.0
962 2013-04-04 13:17:07  17.50  8.28    490  0.25  0.32  357  284   13.0
963 2013-04-04 13:17:08  17.50  8.28    490  0.25  0.32  357  284   13.0
964 2013-04-04 13:17:09  17.49  8.27    491  0.25  0.33  362  288   13.0
965 2013-04-04 13:17:10  17.49  8.27    491  0.25  0.33  362  288   13.0
966 2013-04-04 13:17:11  17.48  8.25    492  0.25  0.34  366  290   13.0
967 2013-04-04 13:17:12  17.48  8.25    493  0.25  0.33  366  290   13.0
968 2013-04-04 13:17:13  17.48  8.25    493  0.25  0.33  368  290   13.0
969 2013-04-04 13:17:14  17.49  8.25    493  0.25  0.29  369  290   13.0
970 2013-04-04 13:17:15  17.49  8.25    493  0.25  0.29  369  290   13.0
971 2013-04-04 13:17:16  17.49  8.25    492  0.25  0.33  371  289   13.0
972 2013-04-04 13:17:17  17.49  8.25    492  0.25  0.33  371  289   13.0
973 2013-04-04 13:17:18  17.49  8.26    493  0.25  0.32  374  293   13.0
974 2013-04-04 13:17:19  17.49  8.26    493  0.25  0.32  374  293   13.0
975 2013-04-04 13:17:20  17.50  8.26    492  0.25  0.36  381  296   13.0
976 2013-04-04 13:17:21  17.50  8.26    492  0.25  0.36  381  296   13.0
977 2013-04-04 13:17:22  17.49  8.27    492  0.25  0.38  383  300   13.0

      CHL    CHL.1
1    5.34  0.05078
2    5.34  0.05078
3    5.29  0.05095
4    5.31  0.05073
5    5.31  0.05073
6    5.28  0.05064
7    5.28  0.05064
8    5.27  0.05036
9    5.27  0.05036
10   5.25  0.05021
11   5.25  0.05021
12   5.23  0.05031
13   5.24  0.05032
14   5.24  0.05032
15   5.24  0.05082
16   5.24  0.05082
17   5.29  0.05198
18   5.29  0.05198
19   5.41  0.05318
20   5.41  0.05318
21   5.54  0.05359
22   5.54  0.05359
23   5.58  0.05387
24   5.58  0.05387
25   5.61  0.05419
26   5.61  0.05419
27   5.64  0.05451
28   5.68  0.05478
29   5.68  0.05478
30   5.71  0.05474
..    ...      ...
948  8.94  0.08619
949  8.98  0.08570
950  8.98  0.08570
951  8.93  0.08545
952  8.90  0.08490
953  8.90  0.08490
954  8.84  0.08522
955  8.84  0.08522
956  8.88  0.08510
957  8.88  0.08510
958  8.86  0.08455
959  8.86  0.08455
960  8.81  0.08413
961  8.81  0.08413
962  8.76  0.08374
963  8.76  0.08374
964  8.72  0.08366
965  8.72  0.08366
966  8.71  0.08280
967  8.71  0.08280
968  8.62  0.08215
969  8.56  0.08164
970  8.56  0.08164
971  8.50  0.08114
972  8.50  0.08114
973  8.45  0.08016
974  8.45  0.08016
975  8.35  0.07978
976  8.35  0.07978
977  8.31  0.07974

[977 rows x 11 columns]

In [8]:
shp_df = timestamp_match.shp2dataframe(shp)

print(shp_df)

                     Date                               XY
0     2013-04-04 08:18:47  [-121.675981849, 38.2332247674]
1     2013-04-04 08:18:48  [-121.675986001, 38.2332196115]
2     2013-04-04 08:18:49   [-121.675990421, 38.233214315]
3     2013-04-04 08:18:50   [-121.675994058, 38.233209039]
4     2013-04-04 08:18:51  [-121.675997428, 38.2332039378]
5     2013-04-04 08:18:52  [-121.676000626, 38.2331986402]
6     2013-04-04 08:18:53   [-121.67600359, 38.2331933725]
7     2013-04-04 08:18:54   [-121.67600635, 38.2331880878]
8     2013-04-04 08:18:55  [-121.676008961, 38.2331826173]
9     2013-04-04 08:18:56  [-121.676011313, 38.2331771616]
10    2013-04-04 08:18:57  [-121.676013455, 38.2331715947]
11    2013-04-04 08:18:58  [-121.676015148, 38.2331660353]
12    2013-04-04 08:18:59  [-121.676016576, 38.2331604596]
13    2013-04-04 08:19:00  [-121.676017562, 38.2331550216]
14    2013-04-04 08:19:01   [-121.67601802, 38.2331496179]
15    2013-04-04 08:19:02  [-121.676018196, 38.2331443428]
16    2013-04-04 08:19:03  [-121.676018217, 38.2331392442]
17    2013-04-04 08:19:04  [-121.676017846, 38.2331343325]
18    2013-04-04 08:19:05  [-121.676017293, 38.2331295985]
19    2013-04-04 08:19:06  [-121.676016978, 38.2331245751]
20    2013-04-04 08:19:07  [-121.676016708, 38.2331194807]
21    2013-04-04 08:19:08  [-121.676016634, 38.2331141017]
22    2013-04-04 08:19:09  [-121.676016283, 38.2331087691]
23    2013-04-04 08:19:10  [-121.676015539, 38.2331036408]
24    2013-04-04 08:19:11  [-121.676014311, 38.2330990891]
25    2013-04-04 08:19:12   [-121.67601227, 38.2330952697]
26    2013-04-04 08:19:13  [-121.676009407, 38.2330924462]
27    2013-04-04 08:19:14  [-121.676006199, 38.2330907077]
28    2013-04-04 08:19:15  [-121.676002399, 38.2330901337]
29    2013-04-04 08:19:16  [-121.675998242, 38.2330905224]
...                   ...                              ...
15946 2013-04-04 05:49:38  [-121.759449673, 38.3071236772]
15947 2013-04-04 05:49:39  [-121.759457884, 38.3071293268]
15948 2013-04-04 05:49:40  [-121.759465788, 38.3071400523]
15949 2013-04-04 05:49:41  [-121.759466902, 38.3071515516]
15950 2013-04-04 05:49:42  [-121.759467022, 38.3071581016]
15951 2013-04-04 05:49:43   [-121.759469257, 38.307160723]
15952 2013-04-04 05:49:44  [-121.759474526, 38.3071683402]
15953 2013-04-04 05:49:45  [-121.759473079, 38.3071782653]
15954 2013-04-04 05:49:46   [-121.75947524, 38.3071861828]
15955 2013-04-04 05:49:47  [-121.759478581, 38.3071939001]
15956 2013-04-04 05:49:48  [-121.759481383, 38.3072012505]
15957 2013-04-04 05:49:49  [-121.759484078, 38.3072085076]
15958 2013-04-04 05:49:50  [-121.759485838, 38.3072159114]
15959 2013-04-04 05:49:51  [-121.759488046, 38.3072232219]
15960 2013-04-04 05:49:52  [-121.759489954, 38.3072302188]
15961 2013-04-04 05:49:53  [-121.759492028, 38.3072373558]
15962 2013-04-04 05:49:54  [-121.759489881, 38.3072427386]
15963 2013-04-04 05:49:55  [-121.759492262, 38.3072441193]
15964 2013-04-04 05:49:56  [-121.759490361, 38.3072538777]
15965 2013-04-04 05:49:57  [-121.759488627, 38.3072658505]
15966 2013-04-04 05:49:58  [-121.759487072, 38.3072736679]
15967 2013-04-04 05:49:59  [-121.759487699, 38.3072804847]
15968 2013-04-04 05:50:00  [-121.759490714, 38.3072911636]
15969 2013-04-04 05:50:01  [-121.759490828, 38.3072969265]
15970 2013-04-04 05:50:02  [-121.759488893, 38.3073028096]
15971 2013-04-04 05:50:03  [-121.759493056, 38.3073065181]
15972 2013-04-04 05:50:04  [-121.759489234, 38.3073128814]
15973 2013-04-04 05:50:05  [-121.759487193, 38.3073173104]
15974 2013-04-04 05:56:39   [-121.76005099, 38.3072706263]
15975 2013-04-04 06:18:08  [-133.267690614, 19.5000141762]

[15976 rows x 2 columns]

In [6]:
merged = timestamp_match.JoinByTimeStamp(water_quality, shp_df)
#print(merged)

matches = merged[0]

print('Dimensions - origninal WQ:  {},  Matches: {}'.format( water_quality.shape, matches.shape))


def nrows(df):
    n= df.shape[0]
    return n

print('Number of rows: original = {}, new = {}'.format(nrows(water_quality), nrows(matches)))

diff = nrows(water_quality) - nrows(matches)
print('{} unmatched rows in the water quality dataset'.format(diff))

percent_match = float(nrows(matches))/float(nrows(water_quality)) * 100
print(nrows(water_quality))

print('Percent Match: {} %'.format(percent_match))

Dimensions - origninal WQ:  (977, 11),  Matches: (0, 13)
Number of rows: original = 977, new = 0
977 unmatched rows in the water quality dataset
977
Percent Match: 0.0 %

In [7]:
merged[1]

,Date_Time,Temp,pH,SpCond,Sal,DEP25,PAR,RPAR,TurbSC,CHL,CHL.1,Date,XY
0,2013-04-04 13:01:03,17.40,7.84,520,0.26,0.39,573,417,13.4,5.34,0.05078,NaT,NaN
1,2013-04-04 13:01:04,17.40,7.84,520,0.26,0.35,573,417,13.4,5.34,0.05078,NaT,NaN
2,2013-04-04 13:01:05,17.40,7.88,520,0.26,0.35,576,419,13.5,5.29,0.05095,NaT,NaN
3,2013-04-04 13:01:06,17.41,7.85,521,0.26,0.39,576,417,13.5,5.31,0.05073,NaT,NaN
4,2013-04-04 13:01:07,17.41,7.85,521,0.26,0.39,576,417,13.5,5.31,0.05073,NaT,NaN
5,2013-04-04 13:01:08,17.40,7.84,521,0.26,0.37,576,415,13.4,5.28,0.05064,NaT,NaN
6,2013-04-04 13:01:09,17.40,7.84,521,0.26,0.37,576,415,13.4,5.28,0.05064,NaT,NaN
7,2013-04-04 13:01:10,17.39,7.83,520,0.26,0.35,573,412,13.4,5.27,0.05036,NaT,NaN
8,2013-04-04 13:01:11,17.39,7.83,520,0.26,0.35,573,412,13.4,5.27,0.05036,NaT,NaN
9,2013-04-04 13:01:12,17.38,7.83,521,0.26,0.38,569,407,13.4,5.25,0.05021,NaT,NaN
10,2013-04-04 13:01:13,17.39,7.83,521,0.26,0.38,569,407,13.4,5.25,0.05021,NaT,NaN
11,2013-04-04 13:01:14,17.39,7.84,521,0.26,0.38,566,408,13.4,5.23,0.05031,NaT,NaN
12,2013-04-04 13:01:15,17.40,7.84,520,0.26,0.35,566,407,13.4,5.24,0.05032,NaT,NaN
13,2013-04-04 13:01:16,17.40,7.84,520,0.26,0.35,566,407,13.4,5.24,0.05032,NaT,NaN
14,2013-04-04 13:01:17,17.41,7.84,520,0.26,0.38,567,406,13.4,5.24,0.05082,NaT,NaN
15,2013-04-04 13:01:18,17.41,7.84,520,0.26,0.38,567,406,13.4,5.24,0.05082,NaT,NaN
16,2013-04-04 13:01:19,17.42,7.85,520,0.26,0.32,570,406,13.4,5.29,0.05198,NaT,NaN
17,2013-04-04 13:01:20,17.42,7.85,520,0.26,0.32,570,406,13.4,5.29,0.05198,NaT,NaN
18,2013-04-04 13:01:21,17.42,7.85,520,0.26,0.34,573,405,13.4,5.41,0.05318,NaT,NaN
19,2013-04-04 13:01:22,17.42,7.85,520,0.26,0.34,573,405,13.4,5.41,0.05318,NaT,NaN
20,2013-04-04 13:01:23,17.43,7.86,520,0.26,0.34,572,405,13.4,5.54,0.05359,NaT,NaN
21,2013-04-04 13:01:24,17.43,7.86,520,0.26,0.34,572,405,13.4,5.54,0.05359,NaT,NaN
22,2013-04-04 13:01:25,17.43,7.87,520,0.26,0.27,575,403,13.5,5.58,0.05387,NaT,NaN
23,2013-04-04 13:01:26,17.43,7.87,520,0.26,0.27,575,403,13.5,5.58,0.05387,NaT,NaN
24,2013-04-04 13:01:27,17.43,7.87,520,0.26,0.34,574,400,13.5,5.61,0.05419,NaT,NaN
25,2013-04-04 13:01:28,17.43,7.87,520,0.26,0.33,574,400,13.5,5.61,0.05419,NaT,NaN
26,2013-04-04 13:01:29,17.43,7.86,520,0.26,0.33,578,402,13.5,5.64,0.05451,NaT,NaN
27,2013-04-04 13:01:30,17.43,7.86,520,0.26,0.34,579,401,13.5,5.68,0.05478,NaT,NaN
28,2013-04-04 13:01:31,17.43,7.86,520,0.26,0.34,579,401,13.5,5.68,0.05478,NaT,NaN
29,2013-04-04 13:01:32,17.43,7.87,520,0.26,0.30,578,399,13.5,5.71,0.05474,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,2013-04-04 13:16:53,17.52,8.29,490,0.25,0.34,329,269,13.0,8.94,0.08619,NaT,NaN
948,2013-04-04 13:16:54,17.53,8.30,490,0.25,0.31,333,272,13.0,8.98,0.08570,NaT,NaN
949,2013-04-04 13:16:55,17.53,8.30,490,0.25,0.31,333,272,13.0,8.98,0.08570,NaT,NaN
950,2013-04-04 13:16:56,17.53,8.30,490,0.25,0.31,337,274,13.0,8.93,0.08545,NaT,NaN
951,2013-04-04 13:16:57,17.53,8.30,490,0.25,0.31,341,278,13.0,8.90,0.08490,NaT,NaN
952,2013-04-04 13:16:58,17.53,8.30,490,0.25,0.31,341,278,13.0,8.90,0.08490,NaT,NaN
953,2013-04-04 13:16:59,17.53,8.30,490,0.25,0.35,345,281,13.0,8.84,0.08522,NaT,NaN
954,2013-04-04 13:17:00,17.53,8.30,490,0.25,0.35,345,281,13.0,8.84,0.08522,NaT,NaN
955,2013-04-04 13:17:01,17.54,8.29,490,0.25,0.32,349,282,13.0,8.88,0.08510,NaT,NaN
956,2013-04-04 13:17:02,17.54,8.29,490,0.25,0.32,349,282,13.0,8.88,0.08510,NaT,NaN
957,2013-04-04 13:17:03,17.52,8.29,489,0.25,0.32,349,282,13.0,8.86,0.08455,NaT,NaN
958,2013-04-04 13:17:04,17.52,8.29,489,0.25,0.32,351,282,13.0,8.86,0.08455,NaT,NaN
959,2013-04-04 13:17:05,17.52,8.29,489,0.25,0.34,354,282,13.0,8.81,0.08413,NaT,NaN
960,2013-04-04 13:17:06,17.52,8.29,489,0.25,0.34,354,282,13.0,8.81,0.08413,NaT,NaN
961,2013-04-04 13:17:07,17.50,8.28,490,0.25,0.32,357,284,13.0,8.76,0.08374,NaT,NaN
962,2013-04-04 13:17:08,17.50,8.28,490,0.25,0.32,357,284,13.0,8.76,0.08374,NaT,NaN
963,2013-04-04 13:17:09,17.49,8.27,491,0.25,0.33,362,288,13.0,8.72,0.08366,NaT,NaN
964,2013-04-04 13:17:10,17.49,8.27,491,0.25,0.33,362,288,13.0,8.72,0.08366,NaT,NaN
965,2013-04-04 13:17:11,17.48,8.25,492,0.25,0.34,366,290,13.0,8.71,0.08280,NaT,NaN
966,2013-04-04 13:17:12,17.48,8.25,493,0.25,0.33,366,290,13.0,8.71,0.08280,NaT,NaN
967,2013-04-04 13:17:13,17.48,8.25,493,0.25,0.33,368,290,13.0,8.62,0.08215,NaT,NaN
968,2013-04-04 13:17:14,17.49,8.25,493,0.25,0.29,369,290,13.0,8.56,0.08164,NaT,NaN
969,2013-04-04 13:17:15,17.49,8.25,493,0.25,0.29,369,290,13.0,8.56,0.08164,NaT,NaN
970,2013-04-04 13:17:16,17.49,8.25,492,0.25,0.33,371,289,13.0,8.50,0.08114,NaT,NaN
971,2013-04-04 13:17:17,17.49,8.25,492,0.25,0.33,371,289,13.0,8.50,0.08114,NaT,NaN
972,2013-04-04 13:17:18,17.49,8.26,493,0.25,0.32,374,293,13.0,8.45,0.08016,NaT,NaN
973,2013-04-04 13:17:19,17.49,8.26,493,0.25,0.32,374,293,13.0,8.45,0.08016,NaT,NaN
974,2013-04-04 13:17:20,17.50,8.26,492,0.25,0.36,381,296,13.0,8.35,0.07978,NaT,NaN
975,2013-04-04 13:17:21,17.50,8.26,492,0.25,0.36,381,296,13.0,8.35,0.07978,NaT,NaN
976,2013-04-04 13:17:22,17.49,8.27,492,0.25,0.38,383,300,13.0,8.31,0.07974,NaT,NaN

In [8]:
# export matchs to shapefile?

timestamp_match.write_shp("test.shp", matches)